/*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *******************************************************************************/

@logo-erp : url("images/logo-erp.png");
@logo-light-erp : url("images/logo-light-erp.png");

@logo : @logo-erp;
@logo-light : @logo-light-erp;

/* Helveticus ERP colors */
@erp:#3699ff;
@erp-dark: #5d5f69;
@erp-light: #e1f0ff;


@header-color: @erp;
@footer-color: @erp;
@light-color-theme: @erp-light;
@main-color-theme: @erp;
@dark-color-theme: @erp-dark;

/* include main less theme file */
@import (less) "helveticus-main-theme.less";
